body{
	margin: 0;
	padding: 81px 0 0 0;
	font-size: 16px;
	font-family: 'Questrial', sans-serif;
}
body *{
	box-sizing: border-box;
}
nav ul li{
	list-style: none;
	display: inline-block;
}
.main-header{
	position: absolute;
	top: 0;
	left: 0;
	height: 81px;
	width: 100%;
	border-bottom: 1px grey solid;
}
.header-img{
	float: left;
	height: 80px;
	width: 250px;
	padding: 20px 0 21px 0;
	margin: 0;
}
.header-img img{
	margin-left: 50px;
	width: 200px;
	height: 40px;
}
.nav-hide{
	display: none;
}
.nav-display{
	margin: 0;
	padding: 30px 10px 31px 50px;
	height: 80px;
	float: left;
}
.nav-display ul{
	margin: 0;
	padding: 0;
	height: 20px;
	font-size: 16px;
}
.nav-display ul li{
	display: inline-block;
	margin-left: 35px;
	padding-top: 2px;
	padding-bottom: 2px;
	text-align: center;
}
.nav-display ul li a{
	text-decoration: none;
	color: lightgrey;
}
.nav-display ul li a:hover{
	color: #000;
}




/*
// MEDIA QUERIES
*/
@media only screen and (max-width: 980px)
{
	.nav-display{
		display: none;
	}
	.nav-hide{
		display: block;
		float: right;
		margin: 0;
		padding: 20px 40px 21px 0;
		height: 80px;
	}
	.nav-hide div{
		text-align: center;
		width: auto;
		margin: 0;
		padding: 0;
		height: 40px;
		font-size: 36px;
		padding-top: 2px;
		padding-bottom: 2px;
		color: #000;
	}
	.nav-hide div span{
		height: 36px;
	}
}
@media only screen and (max-width: 720px)
{
	.header-img{
		width: 210px;
	}
	.header-img img{
		margin-left: 10px;
	}
	.nav-hide{
		padding: 20px 15px 21px 0;
	}
}