body{
	margin: 0;
	padding: 100px 0 0 0;
	font-size: 16px;
}
body *{
	box-sizing: border-box;
}
nav ul li{
	list-style: none;
	display: inline-block;
}
.main-header{
	position: absolute;
	top: 0;
	left: 0;
	height: 100px;
	width: 100%;
	border-bottom: 1px grey solid;
}
.header-img{
	float: left;
	height: 99px;
	width: 120px;
	padding: 0;
	margin: 0;
}
.header-img img{
	width: 120px;
	height: 99px;
}
.nav-hide{
	display: none;
	float: left;
}
.nav-display{
	margin: 0;
	padding: 30px 40px 30px 400px;
	height: 100px;
	float: left;
}
.nav-display ul{
	margin: 0;
	padding: 0;
	height: 40px;
	font-size: 24px;
}
.nav-display ul li{
	display: inline-block;
	width: 100px;
}