/*=======================================================
// MIXINGS
=======================================================*/
@mixin width-height($w : 0,$h : 0){
    width: $w;
    height: $h;
}

/*=======================================================
// GENERAL CSS
=======================================================*/
body{
	@include width-height(100%,100%);
	margin: 0;
	padding: 81px 0 150px 0;
	font-size: 16px;
	font-family: 'Questrial', sans-serif;
	/*font-family: 'Open Sans Condensed', sans-serif;*/
	font-family: 'Josefin Slab', serif;
}
body *{
	box-sizing: border-box;
}
nav ul li{
	list-style: none;
	display: inline-block;
}
li{
	list-style: none;
}
main{
	width: 100%;
	height: 100%;
	margin: 0;
	padding: 0;
}

/*=======================================================
// MAIN HEADER
=======================================================*/

.main-header{
	background: #fff;
	position: fixed;
	top: 0;
	left: 0;
	height: 81px;
	width: 100%;
	border-bottom: 1px grey solid;
	z-index: 5;
}
.header-img{
	float: left;
	height: 80px;
	width: 250px;
	padding: 20px 0 21px 0;
	margin: 0;
}
.header-img img{
	margin-left: 50px;
	width: 200px;
	height: 40px;
}
.nav-hide{
	display: none;
}

/*=======================================================
// TOP NAVBAR
=======================================================*/

.nav-display{
	margin: 0;
	padding: 30px 10px 31px 50px;
	height: 80px;
	float: left;
	ul{
		margin: 0;
		padding: 0;
		height: 20px;
		font-size: 16px;
		li{
			display: inline-block;
			margin-left: 32px;
			padding-top: 2px;
			padding-bottom: 2px;
			text-align: center;
			a{
				text-decoration: none;
				color: #aba4a4;
				&.red{
					color: red;
				}
				&.main-color{
					color: #aba4a4;
				}
				&:hover{
					color: #000;
				}
			}
		}
	}
}
/*=======================================================
// MOVILE NAVBAR
=======================================================*/

#nav-hide-page{
	@include width-height(100%,100%);
	position: fixed;
	top: 0;
	right: 0;
	height: 100%;
	width: 100%;
	z-index: 8;
	background: rgba(10,10,10,0.5);
	overflow-x: hidden;
	ul{
		@include width-height(60%,100%);
		background: #fff;
		margin: 0 0 0 40%;
		padding: 0;
		/*
		add moz webkit ms etc....
		*/
		z-index: 10;
		border-top-left-radius: 20px;
		box-shadow: -10px 0 100px #000;
		li{
			display: block;
			padding-top: 20px;
			padding-bottom: 2px;
			padding-left: 50px;
			border-bottom: 0.5px lightgrey solid;
			font-size: 30px;
			&:hover{
				background: grey;
			}
			a{
				text-decoration: none;
				color: #aba4a4;
				&.red{
					color: red;
				}
				&.main-color{
					color: #aba4a4;
				}
				&:hover{
					color: #000;
				}
			}
		}
		.media{
				@include width-height(100%,64px);
				border: none;
				font-size: auto;
				padding: 0;
				text-align: center;
				margin-top: 40px;
				a{
					z-index: 9;
					margin-top: 15px;
					@include width-height(100%,64px);
					display: block;
					text-decoration: none;
				}
			}
	}
}

/*=======================================================
// FACEBOOK API
=======================================================*/
.facebook{
	@include width-height(100%,500px);
	text-align: center;
	margin-top: 40px;
	padding-top: 10px;
	padding-bottom: 10px;
	background: #cfcfcf;
	display: none;
	&.active{
		display: block;
	}
	iframe{
		@include width-height(498px,500px);
		margin-left: auto;
		margin-right: auto;
	}
}

/*=======================================================
// YOUTUBE API
=======================================================*/
.youtube{
	@include width-height(100%,auto);
	text-align: center;
	margin-top: 40px;
	margin-bottom: 20px;
	display: none;
	&.active{
		display: block;
	}
	iframe{
		@include width-height(498px,auto);
		margin-left: auto;
		margin-right: auto;
	}
}

/*=======================================================
// DISPLAYS ( I/O )
=======================================================*/

.display-on{
	display: block;
}
.display-off{
	display: none;
}
#toggle-nav{
	cursor: pointer;
}

/*=======================================================
// CURSORS ( I/O )
=======================================================*/

.cursor{
	cursor: pointer;
}

/*=======================================================
// BOTTOM SOCIAL MEDIA NAVBAR
=======================================================*/
.social-media{
	display: none;
}
/*
.social-media{
	position: fixed;
	bottom: 0;
	left: 0;
	height: 41px;
	width: 100%;
	border-top: 0.5px lightgrey solid; 
	background: #fff;
	display: none;
}
.social-media nav,.social-media nav ul{
	padding: 0;
	height: 40px;
	margin-top: 0;
	margin-bottom: 0;
	padding-top: 1px;
}
.social-media nav ul li{
	display: inline-block;
	width: 30%;
	height: 39px;
	text-align: center;
}
.social-media nav ul li a{
	width: 40px;
	height: 39px;
	padding: auto;
	text-align: center;
}
.social-media nav ul li a i{
	width: 40px;
	height: 39px;
}
*/
/*=======================================================
// TOP SOCIAL MEDIA NAVBAR
=======================================================*/

.social{
	padding: 24px 10px 25px 35px;
	float: right;
}
.social ul li{
	margin-left: 20px;
}

/*=======================================================
// SOCIAL MEDIA COLORS
=======================================================*/

#facebook{
	color: #3b5998;
}
#twitter{
	color: #1dcaff;
}
#youtube{
	color: #b31217;
}

/*=======================================================
// CARROUSEL
=======================================================*/

.carrousel{
	@include width-height(100%,650px);
	display: none;
	&.active{
		display: block;
	}
	img{
		max-height: 650px;
		@include width-height(100%,100%);
	}
}
.fade{
	-webkit-animation-name: fade;
	-webkit-animation-duration: 4.5s;
	-moz-animation-name: fade;
	-moz-animation-duration: 4.5s;
	-ms-animation-name: fade;
	-ms-animation-duration: 4.5s;
	-o-animation-name: fade;
	-o-animation-duration: 4.5s;
	animation-name: fade;
	animation-duration: 4.5s;
}
@-webkit-keyframes fade{
	0% {opacity: 0}
	75% {opacity: 1}
	100% {opacity: 0}
}
@keyframes fade{
	0% {opacity: 0}
	75% {opacity: 1}
	100% {opacity: 0}
}

/*=======================================================
// GENERAL INFO
=======================================================*/

.general{
	display: none;
	text-align: center;
	&.active{
		display: block;
	}
	h1{
		font-size: 55px;
		padding-top: 10px;
		padding-bottom: 10px;
		background: #cfcfcf;
	}
	p{
		font-size: 30px;
	}
}

/*=======================================================
// PLAYER
=======================================================*/

.player{
	width: 90%;
	margin-right: 5%;
	margin-left: 5%;
	padding: 0;
	position: fixed;
	bottom: 0;
	left: 0;
	border: 2px #F2F2F2 solid;
	display: block;
}
#live,#live2{
	cursor: pointer;
}

/*=======================================================
// CATEGORIAS
=======================================================*/
.radio{
	width: 100%;
	height: 750px;
	padding: 0;
	margin: 0;
	display: none;
	&.active{
		display: block;
	}
}
.categorias{
	width: 60%;
	padding: 0;
	margin: 0;
	float: left;
}
.categorias ul{
	margin: 0;
	padding: 0 0 0 40px;
	font-size: 50px;
}
.categorias ul li{
	display: block;
	padding-top: 20px;
	color: #000;
}
.categorias ul li p span{
	color: red;
}
.categorias ul li p{
	background: #fff;
	display: inline-block;
	padding: 2px;
}
.categorias ul li p:hover{
	-webkit-border-radius: 0 20px 0 20px;
	-moz-border-radius: 0 20px 0 20px;
	-ms-border-radius: 0 20px 0 20px;
	-o-border-radius: 0 20px 0 20px;
    background: #d7d7d7;
}
.programas{
	width: 40%;
	padding: 0;
	margin: 0;
	background: #d7d7d7;
	float: left;
}
.programas ul{
	margin: 0;
	padding: 0 0 0 40px;
	font-size: 25px;
}
.programas ul li{
	display: block;
	padding-top: 5px;
	color: #969696;
	font-weight: bold;
}

#programas,#programas2{
	cursor: pointer;
}
#header-img{
	cursor: pointer;
}
#BtnDeportes,#BtnCultura,#BtnNoticias{
	cursor: pointer;
}
#culturaEntretenimiento{
	display: none;
	&.active{
		display: block;
	}
}
/*=======================================================
// SOUNDCLOUD
=======================================================*/
.soundcloud{
	width: 100%;
	margin: 0;
	padding: 0;
}

/*=======================================================
// MEDIA QUERIES
=======================================================*/

@media only screen and (max-width: 980px)
{
	.nav-display{
		display: none;
	}
	.nav-hide{
		display: block;
		float: right;
		margin: 0;
		padding: 20px 40px 21px 0;
		height: 80px;
	}
	.nav-hide div{
		text-align: center;
		width: auto;
		margin: 0;
		padding: 0;
		height: 40px;
		font-size: 36px;
		padding-top: 2px;
		padding-bottom: 2px;
		color: #000;
	}
	.nav-hide div span{
		height: 36px;
	}
	#nav-hide-page ul{
		width: 45%;
		margin-left: 55%;
	}
	#nav-hide-page ul li{
		padding-left: 30px;
	}
}
@media only screen and (max-width: 720px)
{
	
	.carrousel{
		@include width-height(100%,200px);
	}
	#nav-hide-page ul{
		width: 80%;
		margin-left: 20%;
	}
	.header-img{
		width: 210px;
	}
	.header-img img{
		margin-left: 10px;
	}
	.nav-hide{
		padding: 20px 15px 21px 0;
	}
	#nav-hide-page ul li{
		padding-left: 10px;
	}
	/*
	.social-media{
		@include width-height(70px,302px);
		display: block;
		position: fixed;
		left: 0;
		top:150px;
		width: 70px;
		background: none;
		border: none;
		z-index: 6;
		opacity: 0.8;
		nav{
			@include width-height(70px,302px);
			padding: 0;
			margin-top: 0;
			margin-bottom: 0;
			ul{
				@include width-height(70px,302px);
				li{
					@include width-height(64px,64px);
					display: block;
					margin-top:40px;
					text-align: center;
					a{
						@include width-height(64px,64px);
						text-align: center;
						display: block;
						i{
							@include width-height(64px,64px);	
						}
					}
				}
			}
		}	
	}
	*/
	.general{
		text-align: center;
		h1{
			font-size: 40px;
		}
		p{
			font-size: 20px;
		}
	}
}

@media only screen and (max-width: 500px)
{
	.facebook{
		@include width-height(100%,500px);
		text-align: center;
		margin-top: 40px;
		iframe{
			@include width-height(90%,500px);
			margin-left: auto;
			margin-right: auto;
		}
	}

	.youtube{
		@include width-height(100%,auto);
		text-align: center;
		margin-top: 40px;
		margin-bottom: 20px;
		iframe{
			@include width-height(90%,auto);
			margin-left: auto;
			margin-right: auto;
		}
	}
}

#programasFrame{
	width:100%;
    height:450;
}

.hide{
	display: none;
}